{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and Number Input</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>  
    <div id="particles-js">
    </div> 
    <div class="container">
        <h1>Upload Image and Input Numbers</h1>
        <form id="uploadForm" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="imageUpload"><b>Choose an image file:</b></label>
                <input type="file" class="form-control-file" id="imageUpload" name="imageUpload" style="font-size: 20px;">
            </div>
            <input type="number" name="number1" placeholder="Enter number 1" required><br>
            <input type="number" name="number2" placeholder="Enter number 2" required><br>
            <input type="number" name="number3" placeholder="Enter number 3" required><br>
            <input type="number" name="number4" placeholder="Enter number 4" required><br>
            <button type="submit" class="btn btn-primary" style="border-color: cyan; border-width: 2px;">CONVERT</button>
        </form>
    </div>
</body>
</html>
